.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.section-name {
    font-size: 82px;
    font-weight: 900;
}

.title {
    font-size: 52px;
    font-weight: 900;
    text-transform: uppercase;
}

.news-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.detailed-news {
    width: 90%;
    font-size: 18px;
    font-weight: 700;
}