<div class="wrapper">
    <div class="student">
        <img src="../assets/studentiii.png" alt="" class="student-door">
        <div class="back-card" routerLink="/student-login">
            <h3 class="title">
                Sign up as student
            </h3>
        </div>
    </div>
    <div class="teacher">
        <img src="../assets/ticher.png" alt="" class="teacher-door">
        <div class="back-card ticher-one" routerLink="/teacher-login">
            <h3>Sign up as teacher</h3>
        </div>
    </div>
</div>
